.container{
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    width: 96.5%;
    min-height: 80vh;
    column-gap: 20px;
    padding: 0px 20px; 
    padding-top: 40px;
    row-gap: 20px;
}